.doitac {
  margin-top: 130px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.doitac-container {
  width: 100%;
  height: 100px;
  margin-top: 2%;
}

.doitac-container img {
  padding: 0px 2%;
  height: 68px;
  width: calc(100% / 7);
  float: left;
  cursor: pointer;
}

.shop-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
  cursor: pointer;
  padding-top: 2rem;
  margin-top: 30px;
}
.box {
  padding: 0px 20px 10px 20px;
  background: transparent;
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border-radius: 10px;
  position: relative;
  transition: all 0.35s ease;
}
.box img {
  width: 100%;
  height: auto;
}

.box h4 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.box h5 {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.box h5::before {
  content: "$";
}
.box .cart i {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: var(--text-color);
  color: var(--bg-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.box:hover {
  transform: translateY(-20px);
}

#shop .box i {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #ccc;
  color: #fff;
  font-size: 22px;
  box-shadow: 0 4px #999;
  border-radius: 10px;
}

#shop .box i:hover {
  color: #000;
  background-color: #666;
}

#shop .box i:active {
  color: orange;
  box-shadow: 0 2px #333;
  transform: translateY(2px);
}
