* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "UTMAvo", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  font-family: "UTMAvo", sans-serif;
}

#header {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10000;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8%;
  transition: 0.3s;
}

.logo-menu-icons {
  width: 33.333333333333%;
}

#header img {
  width: 150px;
  height: 75px;
}

#nav {
  display: inline-block;
}

#nav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
  font-family: "UTMAvo", sans-serif;
}

#nav > li:hover > a {
  color: #ccc;
  /* background-color: #ccc; */
}

#header .nav_icons {
  display: block;
  text-align: right;
}
#header .nav_icons i {
  color: #000;
  font-size: 24px;
  margin-left: 15px;
}
#header .nav_icons i:hover {
  opacity: 0.7;
}

.shopping_cart {
  position: relative;
}

#header .shopping_cart span.count_shopping {
  display: block;
  position: absolute;
  top: -10px;
  right: -13px;
  width: 23px;
  height: 15px;
  border-radius: 50%;
  line-height: 15px;
  text-align: center;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
}

#nav > li:hover > a:after {
  transform: scale(1);
}

#nav > li > a:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #000;
  margin: auto;
  transform: scale(0);
  transition: all ease 0.7s;
}
